@import url("https://fonts.googleapis.com/css?family=Roboto"); /* --- Подключение шрифта --- */

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.clearfix:after {
  content: "";
  display: table;
  width: 100%;
  clear: both;
}

div {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/*--- header ---*/

header {
  background-color: #007765;
  top: 0;
  height: 84px;
  width: 100%;
  position: fixed;
}

.container {
  max-width: 1219px;
  margin: 0 auto;
}

.logo {
  color: #fff;
  margin-top: 20px;
}

nav {
  float: right;
  margin-top: 28px;
  line-height: normal;
  text-align: center;
}

.menu {
  padding: 0;
  margin: 0;
  display: block;
}

.menu li {
  float: left;
  display: block;
  margin-right: 10px;
}

.menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}

/* ------------- services ----------------- */

#services {
  background-image: url(../img/Jumbotron.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 84px;
  min-height: 406px;
}
.titles-first {
  font-size: 72px;
  color: #fff;
  text-align: center;
  padding-top: 160px;
  padding-bottom: 160px;
}

/* --- сдвиг относительно шапки (проблема якорей) --- */

#services:target,
#problem:target,
#ppc:target,
#team:target {
  border-top: 84px solid transparent;
  margin-top: -84px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

/* ------------- problem ----------------- */

#problem {
  padding-top: 48px;
  padding-bottom: 144px;
  background: #eeeeee;
}

h2 {
  font-size: 64px;
  text-align: center;
  margin: 0;
  color: #007765;
}

.ppc-h2 {
  margin-bottom: 10px;
}

p {
  font-size: 32px;
}

span {
  font-weight: bold;
}

/* -------------- hero ----------------- */

#hero {
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 127px;
}

.titles-hero {
  font-size: 48px;
  text-align: center;
  padding-top: 128px;
  font-style: italic;
  color: #fff;
}

/* ---------------- ppc ---------------- */

#ppc {
  font-size: 64px;
  padding-top: 48px;
  padding-bottom: 92px;
  font-weight: 500;
  text-align: center;
  background: #fff;
}

.ppc-logo {
  float: left;
  color: #007765;
}

.ppc-text {
  font-size: 32px;
  margin: 0 auto;
  margin-left: 163px;
  text-align: left;
}

.ppc-text1 {
  font-size: 32px;
  margin-top: 10px;
  text-align: left;
}

/* ---------------- team -------------------- */

#team {
  background: #eee;
  padding-top: 58px;
  padding-bottom: 112px;
}

.members {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 24px;
}

.member {
  text-align: center;
  flex-basis: 33%;
  padding: 24px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.member-name {
  margin: 0;
  margin-top: 12px;
  font-weight: 600;
  font-size: 24px;
  color: #007765;
}

.member-role {
  font-style: italic;
  font-size: 18px;
}

/* --------------- footer ---------------------- */

footer {
  background: #333;
}

.footer-all {
  padding-top: 50px;
  padding-bottom: 62px;
  min-height: 64px; /* -- мин высота. для растижения текста в сонтейнере -- */
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: normal;
  color: #ffffff;
}

/* ------ Адаптивная верстка сайта ------ */

/* --- Если меньше 1024px то... --- */
@media (max-width: 1024px) {
  .container {
    width: 90%;
  }
}

/* --- Если меньше 992px то... --- */
@media (max-width: 992px) {
  .container {
    width: 70%;
  }
  .title {
    text-align: center;
  }
  .logo {
    display: none;
  }
}

/* --- Если меньше 768px то... --- */
@media (max-width: 768px) {
  .container {
    width: 80%;
  }
  /* --- Перевот стоки в блок --- */
  .figure {
    box-sizing: border-box;
  }
}

/* --- Если меньше 567px то... --- */
@media (max-width: 567px) {
  /* --- Отключение логотипа --- */

  .menu li a {
    font-size: 20px;
  }
  .ppc-logo {
    float: none;
  }
  .ppc-text {
    display: inline-block;
    margin: 0 auto;
  }
}

/* --- Если меньше 480px то... --- */
@media (max-width: 480px) {
 .container {
    min-width: 320px;
  } 
  /* --- Перенос длинных слов не ломая блоки --- */
  #ppc,
  h2,
  p,
  .titles-first,
  .titles-hero {
    overflow-wrap: break-word;
  }
  .menu li a {
    font-size: 16px;
  }
}

  @media (max-width: 375px) {
.container {
  width: 90%;
}
.menu li a {
  font-size: 14px;
  padding-right: 5px;
}
p {
  font-size: 28px;
  padding-left: 5px;
  padding-right: 5px;
}
.titles-hero {
  font-size: 42px;
}
h2 {
  font-size: 42px;
}
.ppc-logo {
  padding: 15px 0;
}
.ppc-text,
.ppc-text1 {
  font-size: 26px;
  text-align: center;
}
  }